<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v5.0" sku=".NETFramework,Version=V5.0" />
  </startup>
  <appSettings>
    <add key="arquivo_nomes" value="C:\ArquivosDotNetRead\" />
    <add key="db" value="C:\db_clientes\clientes_db.txt"/> 
  </appSettings>
</configuration> 